modules/security/firstvoices-security-user-registration/src/main/resources/schemas/fvuserinfo.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.nuxeo.org/ecm/project/schemas/First-Voices/fvuserinfo">

  <xs:include schemaLocation="base.xsd"/>

  <xs:element name="preferences" type="xs:string"/>

  <!-- Request properties -->
  <xs:element name="ip" type="xs:string"/>
  <xs:element name="ua" type="xs:string"/>
  <xs:element name="referer" type="xs:string"/>

</xs:schema>
