FirstVoicesData/src/main/resources/data/schemas/maps_language_ids.xsd

<?xml version="1.0"?>

<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:ref="http://www.nuxeo.org/ecm/schemas/core/external-references/"
    xmlns:nxs="http://www.nuxeo.org/ecm/project/schemas/First-Voices/fv_label_vocabulary"
    targetNamespace="http://www.nuxeo.org/ecm/project/schemas/First-Voices/maps_language_ids"
>

    <xs:element name="language" type="xs:string"/>
    <xs:element name="id" type="xs:string"/>
    <xs:element name="color" type="xs:string"/>
    <xs:element name="family" type="xs:string"/>

</xs:schema>